appdirs==1.4.4
asgiref==3.4.1
autopep8==1.5.7
click==8.0.1
colorama==0.4.4
distlib==0.3.1
Django==3.2.5
django-admin-logs==1.0.2
django-cors-headers==3.7.0
django-dajaxice3==0.63
django-grappelli==2.15.1
filelock==3.0.12
Flask==2.0.2
future==0.18.2
importlib-metadata==4.3.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
pefile==2021.5.24
Pillow==8.3.1
psycopg2==2.9.1
pycodestyle==2.7.0
pytz==2021.1
qrcode==7.1
six==1.16.0
spark-parser==1.8.9
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
virtualenv==20.4.6
Werkzeug==2.0.2
xdis==5.0.9
zipp==3.4.1
